<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/main.js"></script>
    <title>Knowledge Base</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add">Add</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <% if (user) { %>
                <ul>
                    <li><span><%= user.username %></span></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            <% } else { %>
                <ul>
                    <li><a href="/login">Login</a></li>
                </ul>
            <% } %>
        </div>
    </nav>
    <div class="container">