<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/main.js"></script>
    <title>Knowledge Base</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add</a></li>
            <li><a href="/search">Search</a></li>
            <% if (user) { %>
                <div class="username">
                    <li><%= user.username %></li>
                    <li><a href="/logout">Logout</a></li>
                </div>
            <% } else { %>
                <li class="username"><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    <div class="container">