<%- include('header'); -%>

<form action="/register" method="POST">
    <label>Username</label>
    <input type="text" name="username" required><br>
    <label>Password</label>
    <input type="text" name="pass" required><br>
    <label>Retype Password</label>
    <input type="text" name="passConf" required></input><br>
    <input type="submit" value="Submit">
</form>

<%- include('footer'); -%>