<%- include('header'); -%>

<form class="validateForm" action="/register" onsubmit="return checkPass()" method="POST">
    <label>Username</label>
    <input type="text" name="username" autofocus required><br>
    <label>Password</label>
    <input type="password" name="pass" id="pass" required><br>
    <label>Retype Password</label>
    <input type="password" name="passConf" id="passConf"  required><br>
    <% if(existing) { %> <p class="red-text">A user with the username already exists.</p> <% } %>
    <input type="submit" value="Submit">
</form>

<%- include('footer'); -%>
